.price-line-container {
    display: flex;
    margin: 0;
    width: 400px;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: medium;
        font-weight: 700;
        color: rgb(78, 78, 78);
    }

    .currency-container {
        display: flex;
        gap: 8px;
        padding-right: 35px;
        align-items: center;

        p {
            font-size: small;
            font-weight: 600;
            color: rgb(136, 136, 136);
        }
    }
}